%h1{ :class => "h_pretty" } Quick Start

%p
  Alacarte makes it easy for you to build a menu, complete with categories and multiple prices/sizes per item with an intuitive interface.  To get started, let's create a brand new menu.

%h2 New Menu

%p
  First, click on the 'New Menu' link at the top of the page:

%img{:src => "/images/help/new_menu.png"}  

%p
  This will take you to the 'New Menu' form.  Enter a name for your menu (e.g. Dinner) and, if you'd like, a description.

%img{:src => "/images/help/new_menu_form.png"}

%p
  Now, you're on the menu page for the menu you've just created.  This is where you can see an overview of everything that's in this menu, as well as move items and categories.

%img{:src => "/images/help/menu_empty.png"}

%p
  You can enter a category name in the box at the bottom of the page.  With each category you add, you'll see that category get added to your menu page.  For example:

%img{:src => "/images/help/menu_with_categories.png"}

%p
  By clicking on 'Add an Item' inside a category, you'll be taken to the 'New Item' form.

%img{:src => "/images/help/add_item.png"}

%p
  Here, you can add a name for an item, as well as description, and prices/sizes.  When you're finished, you can click 'Save and Add Another', which will save the item and return you to this blank form, or 'Save This Item', which will add the item and take you back to the menu page.

%img{:src => "/images/help/menu_with_item.png"}

%p
  That's it.  You now understand the basics of how to add your items to your menu.  For more in-depth information, check out the other pages in 'Help'.

%p 
  %a{ :href => "/help" } Back