<h1>Menus</h1>

<% if @menus.empty? %>
  Start by adding a menu.
<% end %>

<p><%= link_to "Add Menu", new_menu_path %></p>

<% @menus.each do |menu| %>
  <%= link_to menu.name, menu_path(menu) %><br />
<% end %>