<% title '<img src="/images/title_manage_menu.png" alt="" />' %>

<% if @menus.empty? %>
  <h1 class="h_pretty center">Start by adding a menu.</h1>
<% end %>

<p class="center"><%= link_to image_tag("/images/button_new_menu.png"), new_menu_path %></p>

<% @menus.each do |menu| %>
  <%= link_to menu.name, menu_path(menu) %> - <%= link_to "delete", menu, :method => :delete, :confirm => "Are you sure you want to delete #{menu.name}? (This will delete all categories and items in this menu.)" %><br />
<% end %>