 

label {
  clear: left;
  float: left;
  padding: 5px;
  text-align: right;
  width: 150px;
}
body {
  width: 900px;
  margin: auto;
  font-family: verdana, helvetica, sans-serif;
  line-height: 20px;
}
div {
  width: auto;
}
#container {
  padding: 10px;
}
#header h1 {
  font-size: 30px;
  font-weight: bold;
  display: block;
  margin: auto;
  text-align: center;
  margin-top: 20px;
}
#header img {
  display: block;
  text-align: center;
  margin: 20px auto 0 auto;
}
h1 {
  font-size: 20px;
  margin: 50px 0 10px 0;
}
h3 {
  font-style: italic;
  font-size: 12px;
  font-weight: normal;
  line-height: 17px;
}
.menu_item {
  margin: 20px 30px 20px 30px;
}
h2 {
  font-size: 15px;
  margin-bottom: 5px;
}

h4 {
  font-size: 11px;
  font-style: italic;
  font-weight: normal;
  line-height: 15px;
  margin-bottom: 15px;
}
.item_size {
  text-align: left;
  font-size:10pt;
  font-weight: bold;
}
.item_price {
  text-align: right;
  font-size: 12px;
}
.size_holder {
  clear: both;
  width: 100%;
  padding-right: 10px;
  
}
table tr td{
  border-bottom: 1px dashed #333 !important;
  height: 19px;
}
table tr td div.left {
  background: white;
  width: auto;
  margin-bottom: -8px;
  margin-left: -2px;
  padding-right: 7px;
  float: left;
}
table tr td div.right {
  background: white;
  width: auto;
  margin-bottom: -10px;
  margin-right: -2px;
  padding-left: 7px;
  float: right;
}