<% title '<img src="/images/title_edit_your_profile.png" alt="" />' %>
<% form_for @user, :html => { :class => 'form_style' }, :url => account_path do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "form", :object => f %>
    <p class="button_right">
  <%= image_submit_tag "/images/button_save_changes.jpg" %>
  </p>
<p class="button_left"><%= link_to image_tag("/images/button_cancel.jpg"), account_path %></p>
<% end %>
 