<h1 class="h1_pretty">My Profile</h1>

<p>
  <strong>Email:</strong>
  <%=h @user.email %>
</p>
<p>
  <strong>API Key:</strong>
  <%=h @user.single_access_token %>
</p>
<%= link_to '(Edit)', edit_account_path %>
 
