<% title '<img src="/images/title_your_profile.png" alt="" />' %>

<div id="your_profile">
  <p>
    <strong>Email:</strong>
    <div><%=h @user.email %></div>
  </p>
  <p>
    <strong>Restaurant Name:</strong>
    <div><%=h @user.restaurant_name %></div>
  </p>
  <p>
    <strong>API Key:</strong>
    <div><%=h @user.single_access_token %></div>
  </p>
<%= link_to image_tag("/images/button_edit.jpg"), edit_account_path %>
</div>
 
