<% title '<img src="/images/title_add_item.png" alt="" />' %>

<% form_for([@category, @item], :html => { :class => 'form_style'}) do |f| %>
  <%= render "form", :f => f %>
  <p>
    <%= image_submit_tag "/images/button_add_this_item.jpg", :id => "form_submit" %>
  </p>
<% end %>