%h1{ :class => "h_pretty" } Help
%title '<img src="/images/title_manage_menu.png" alt="" />'
%p
  We're currently writing the documentation for Alacarte.  Please stand by.

-# Commenting out these links for initial beta launch
  %ul
    %li
      %a{ :href => "/help/menus" } Menus